<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Natural Language Processing</title>
    </head>

    <body>

        <header class="header">
            <div class="logo">
                <img id="logo" alt="drawing of a brain used as a logo for Natural Langyage Processing">
            </div>
            <div class="title">
                <span style="color: #f54d3b">N</span>
                <span style="color: #edb02e">L</span>
                <span style="color: #30b955">P</span>
            </div>
        </header>

        <main class="container">
            <section>
                <img id="main_image" alt="Drawing of a brain surrounded with the basics of natural language processing" class="responsive">
            </section>
            <section>
                <p>This web tool allows users to run Natural Language Processing (NLP) on texts.
                Using an exciting new api called <a href="https://aylien.com/">Aylien</a>, we can build a simple web interface to interact with their NLP system. This tool will give us back pertinent information about the article, like whether the content is subjective (opinion) or objective (fact-based) and whether it is positive, neutral, or negative in tone.</p>
            </section>
            <section>
                <form id="form" onsubmit="return Client.handleSubmit(event)" method="POST">
                    <input id="text" type="text" name="input" value="" placeholder="Please type some text here to analyze..">
                    <input type="submit" value="submit" class="button">
                </form>
            <section>

            <section>
                <div id="error"></div>
                <div id="results">
                    <strong>Text Analysis</strong>
                    <ul>
                        <li>
                          <p id="text_polarity"></p>
                          <p id="text_polarity_confidence"></p>
                        </li>
              
                        <li>
                          <p id="text_subjectivity"></p>
                          <p id="text_subjectivity_confidence"></p>
                        </li>
                      </ul>
                </div>
            </section>
        </main>

        <footer class="footer">
            <p>adriflorence | <span style="color: #f54d3b">N</span>
                <span style="color: #edb02e">L</span>
                <span style="color: #30b955">P</span>
            </p>
        </footer>

        <!-- Service Workers -->
        <script>
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
