$yellow: #edb02e;
$red: #f54d3b;
$green: #30b955;

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
    flex: 2;
    text-align: justify;
}

section {
    max-width: 800px;
    margin: 50px auto;

    p {
        text-indent: 3em;
    }

    a {
        text-decoration: none;
        color: $yellow;
    }

    #error {
        color: $red;
    }
}

// GRID-AREAS

.header {
    grid-area: header;
}

.container {
    grid-area: container;
}

.footer {
    grid-area: footer;
}

.responsive {
    width: 100%;
    height: auto;
}

.grid-container {
    display: grid;
    height: 95vh;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 0 3px;
    grid-template-areas:
        "header"
        "container"
        "footer";
}