@import "base.scss";

form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
}

input {
    padding: 5px 20px;
    width: 100%;
    font-size: 1em;
    line-height: 16px;
    margin: 10px 0;

    &.button {
        height: 50px;
        background-color: $green;
        color: white;
    }
}